body {
    background: #140018;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-bottom: 200px;
}

.title {
    font-size: 32px;
    font-weight: 900;
    color: #ff4cd8;
    margin-top: 20px;
}

.section-title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fal-container, .burc-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
}

.fal-btn, .burc-btn {
    padding: 15px;
    background: #330042;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#questionInput {
    width: 80%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

#openCardsBtn {
    margin-top: 15px;
    padding: 15px;
    background: #ff4cd8;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

#cardsArea {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 110px;
    height: 180px;
    background: #222;
    border-radius: 10px;
}
