.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.cards-five {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
}

.cards-five .card:nth-child(4),
.cards-five .card:nth-child(5) {
    grid-column: span 1;
    margin-left: auto;
    margin-right: auto;
}
