.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.cards-five {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
}

.cards-five .card:nth-child(4),
.cards-five .card:nth-child(5) {
    grid-column: span 1;
    margin-left: auto;
    margin-right: auto;
}
.sohbet-body {
    background: #12001c;
    color: #fff;
    padding: 20px;
}

.chat-box {
    width: 100%;
    height: 65vh;
    background: #1b0029;
    border-radius: 15px;
    padding: 15px;
    overflow-y: auto;
}

.user-msg {
    background: #ff3ca6;
    padding: 10px;
    border-radius: 12px;
    margin: 8px 0;
    text-align: right;
}

.ai-msg {
    background: #5f00ff;
    padding: 10px;
    border-radius: 12px;
    margin: 8px 0;
    text-align: left;
}

.chat-input-area {
    display: flex;
    margin-top: 10px;
}

#chat-input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #230037;
    color: #fff;
}

.chat-send {
    margin-left: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: #ff3ca6;
    color: #fff;
    font-weight: 600;
    }
